{% load post_tags %}
{% load static %}
<html lang="ru">
<head>
<meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static '/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>{{ title }}</title>
</head>
<body class="main_content">


{% block mainmenu %}
		<div class="header">
			<div class="responsive-text">

			<div class="row">
				<div class="col-2" ><a href="{% url 'home_page' %}"><div class="logo"></div></a></div>
				{% for m in menu %}
				 <button class="col-2" onclick="window.location.href = '{% url m.url_name %}';">{{m.title}}</button>

				{% endfor %}
			</div>
			</div>
		</div>
{% endblock mainmenu %}

<div class="row">
<div class="col-2 left_sidebar">
	<div class="responsive-text">
		{% if cat_selected == 0 %}
			<p class="selected_category">Все категории</p>
		{% else %}
			<p><a class="category" href="{% url 'home_page' %}">Все категории</a></p>
		{% endif %}
		{% show_categories cat_selected %}

		{% show_all_tags %}
	</div>
</div>

<div class="col-8">
	<div class="responsive-text">
	{% block breadcrumbs %}

	{% endblock %}


	{% block content %}
	{% endblock %}
	</div>
</div>
</div>

</body>