
.selected {color: #0059b2; }

.header {
	background: #DDA0DD;
	height: 60px;


}
.clear {clear: both;}

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    transition: background-color 0.3s;
    color: white;
    border: 3px ridge rgba(255, 255, 255, 0.3);

}
button:hover {
       background-color: rgba(255, 255, 255, 0.3);
     }

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}



.responsive-text {
       font-size: 1.5rem; /* Начальный размер текста */
    }

@media (max-width: 768px) {
   .responsive-text {
       font-size: 1rem; /* Уменьшаем размер текста для планшетов и мобильных устройств */
   }
 }

@media (max-width: 576px) {
   .responsive-text {
     font-size: 0.5rem; /* Уменьшаем размер текста для мобильных устройств */
     }
 }

body.main_content{
    background: #E6E6FA;
    overflow-x:hidden;
}

div.left_sidebar{
    background: #D8BFD8;
    height: 100rem;
    border-right: 1px solid #FFFFFF;
    text-align: center;

}

.link {
    color: #4B0082;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 600;
}

.link:hover {
    color: #9370DB;
    text-decoration: none;
    font-weight: 800;
}

.link:visited {
    color: #9370DB;
    text-decoration: none;
}

.selected {
    color: #4B0082;
    text-decoration: none;
    font-weight: 800;
}
