{% extends 'base.html' %}


{% block breadcrumbs %}
<!-- Tags -->
{% with post.tags.all as tags %}
{% if tags %}
<br>
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
        <li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}


{% block content %}
<p style="font-weight: 800;">{{ post.title }}</p>

{% if post.images %}
<p><img src="{{ post.images.url }}"></p>
{% endif %}

<p>{{ post.content | linebreaks }}</p>
<p>Автор поста: {{ post.author.username }}</p>
<a href="{% url 'edit_post' pk=post.pk %}">Редактировать пост</a>
<br>
<a href="{% url 'delete_post' pk=post.pk %}">Удалить пост</a>
{% endblock %}