{% extends 'base.html' %}


{% block breadcrumbs %}
<!-- Tags -->
{% with post.tags.all as tags %}
{% if tags %}
<br>
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
        <li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}


{% block content %}
<p style="font-weight: 800;">{{ post.title }}</p>

{% if post.images %}
<p><img src="{{ post.images.url }}"></p>
{% endif %}

<p>{{ post.content | linebreaks }}</p>
{% if post.author %}
<p style="font-weight: 600;">Автор поста: <a href="{% url 'users:info' user_id=post.author.pk %}" class="link">{{ post.author.username }}</a></p>
    <br>
    {% if post.author.pk == request.user.pk %}
    <button class="submit_btn" onclick="window.location.href = '{% url 'edit_post' pk=post.pk %}';">Редактировать пост</button>
    <button class="submit_btn" onclick="window.location.href = '{% url 'delete_post' pk=post.pk %}';">Удалить пост</button>

    {% endif %}
{% else %}
    <p style="font-weight: 800;">Автор неизвестен</p>
{% endif %}

{% endblock %}